.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .button button{
  padding: 10px 25px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  background: #ccc;
}
.container .button p{
  padding: 0 15px;
  font-size: 25px;
}